extends includes/layout.pug

block content
  section(id="tickets_page")
    include includes/_breadcrumbs.pug

    img(src="/img/media/tickets-hero.png" style="width: 100%")

    .container
      .inner
        h1(role="heading" aria-level="1") Acquista i biglietti per containerday 2024
        p containerday è la conferenza italiana dedicata alle buone pratiche di containerizzazione e di virtualizzazione.
        h2 Giovedì 10 ottobre 2024 - Bologna, Hotel Savoia Regency.
        <br>
        h3 Acquista ora il tuo biglietto <b>Early bird a <s>€ 299</s> €109 (IVA esclusa)</b> prima che il prezzo aumenti!

        tito-widget(event=site.data.defaults.conference.tito.event releases="early-bird-evento-in-presenza")

        p <a href='https://www.containerday.it'>Scopri di più sull'evento</a>

  //- imported components
  //include components/newsletter/newsletter
  //if(site.data.defaults.conference.sponsors_visible)
  //  include components/sponsors/sponsors
  //if site.data.defaults.conference.community_partners
  //  include components/community_partners/community_partners
