extends includes/layout.pug

block content
  section(id="tickets_page")
    include includes/_breadcrumbs.pug

    img(src="/img/media/tickets-hero.png" style="width: 100%")

    .container
      .inner
        h1(role="heading" aria-level="1") Acquista i biglietti per containerday 2024
        p containerday è la conferenza italiana dedicata alle buone pratiche di containerizzazione e di virtualizzazione.
        h2 Giovedì 10 ottobre 2024 - Bologna, Hotel Savoia Regency.
        p Nella stessa location, il giorno prima della conferenza, Mercoledì 9 Ottobre, organizziamo il <a href='https://2024.containerday.it/workshop/introduzione_kubernetes.html'>workshop</a> <b>"Introduzione a Kubernetes per Software Engineer e Developer"<b>
        h3 Acquista ora il tuo biglietto prima che il prezzo aumenti!

        p Tutti i prezzi dei biglietti sono indicati con <b>IVA esclusa</b>.

        tito-widget(event=site.data.defaults.conference.tito.event)

  //- imported components
  //include components/newsletter/newsletter
  //if(site.data.defaults.conference.sponsors_visible)
  //  include components/sponsors/sponsors
  //if site.data.defaults.conference.community_partners
  //  include components/community_partners/community_partners
